@model StudentManagementSystem_MVC_Finale.Models.StudentLogin

@{
    ViewData["Title"] = "StudentLogin";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}





    <div class="main-panel" style="margin:auto">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <h1 class="font-weight-bold mb-0" style="text-align:center">Student Login</h1>
                        <div class="card-body">

                            <form asp-action="StudentLogin" asp-controller="Register">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">
                                    <label asp-for="Username" class="control-label"></label>
                                    <input asp-for="Username" class="form-control" required />
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="control-label"></label>
                                    <input asp-for="Password" type="password" class="form-control" required />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Login" class="btn btn-primary" />
                                </div>
                                @ViewBag.Message
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
